<h1>Listing feeds</h1>

<table>
  <tr>
    <th>Url</th>
  </tr>

<% @feeds.each do |feeds| %>
  <tr>
    <td><%=h feeds.url %></td>
    <td><%= link_to 'Show', feeds %></td>
    <td><%= link_to 'Edit', edit_feed_path(feeds) %></td>
    <td><%= link_to 'Destroy', feeds, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feeds', new_feed_path %>