<br/>
  <% form_for(@stream) do |f| %>
    <%= f.error_messages %>
    <p>
      <u>What are you looking to offer?</u>
      <br/>    
      <%= f.text_area :name, :rows => 2, :cols => 30 %>
    </p>
    <p>
      <label for="occ">Filter</label>
  		<%= f.collection_select (:categories_id, @categories, :id, :name, :prompt => 'Select') %>
  	</p>
    <p>
      <%= f.submit 'Post' %>
    </p>
  <% end %>
<br/>

<%= render :partial => "stream_categories" %>

<%= render :partial => "stream_filter" %>

