<% if logged_in? %>
  <% if current_user.facebook_user? %>
    <%= link_to("Home", "/") %>
    <%= link_to("My Account", edit_user_path(current_user)) %>
    <%= link_to("My Network", "/") %>
    <a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'>Logout</a><br/>
    <% form_tag '/streams/search_streams' do -%>
      Search: <%= text_field_tag :search_keys %>
      <%= submit_tag 'Search' %>
    <% end %>
  <% else %>
    <p>why don't you connect with your facebook account</p>
    <%= fb_login_button('window.location = "/users/link_user_accounts";')%>
    <p><%= link_to 'Logout', logout_path%></p>
  <% end %>  
<% else %>
<% end %>
