<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ice="http://ns.adobe.com/incontextediting">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FriendNews</title>
    <link href="/stylesheets/wcstyles.css" rel="stylesheet" type="text/css" ice:classes="*" />
    <%= javascript_include_tag :defaults %>
  </head>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>

</head>
<body>
	<p>Hi

  <%= fb_connect_javascript_tag %>
  <%= init_fb_connect "XFBML"%>
  
  <%= render :partial => "shared/nav" %>
  
  <%=yield%>
  
</body>
</html>