<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<%= javascript_include_tag :defaults%>
</head>
<body>
  <%= fb_connect_javascript_tag %>
  <%= init_fb_connect "XFBML"%>
  <% if logged_in? %>
    <% if current_user.facebook_user? %>
      You are logged in as <%= current_user.name %> &nbsp;<a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'>Logout</a>
    <% else %>
      <p>why don't you connect with your facebook account</p>
      <%= fb_login_button('window.location = "/users/link_user_accounts";')%>
      <p><%= link_to 'Logout', logout_path%></p>
    <% end %>
  <% else %>
    <h2>You are not logged in!</h2>
    <p><%= link_to 'Signup', signup_path%> or <%= link_to 'Login', login_path%></p>
  <% end %>
  <%=yield%>
</body>
